{% from "_render_field.html" import render_field %}
{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

<section class="our-webcoderskull padding-lg">
    <div class="container">
        <div class="row heading heading-icon">
            <h2>Flights</h2>
        </div>
        <ul class="row">
            {% for flight in flights %}
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 200px;">
                    <h3><a href="{{ url_for('flight.flight_item', fli=flight.id) }}">{{ flight.point_departure }} - {{ flight.point_destination }}</a></h3>
                    <p>Flight number: #{{ flight.flight_number }}</p>
                    <ul class="follow-us clearfix">
                        <li>Price: {{ flight.price }}$</li>
                        <li>Type route: {{ flight.type.value }}</li>
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}